.cursor-pointer {
  cursor: pointer;
}

.alert {
  font-size: 14px;

  &.alert-dismissible .close {
    padding: 0.6rem 1rem;
  }
}

.modal-header, .modal-footer {
  border-color: #ebeff3;
}

.mdi {
  font-size: 1.1rem;
  line-height: 0.8rem;
  vertical-align: middle;
}

.modal-body {
  padding: 0 1.5rem;
}

.grid-margin {
  margin-bottom: 1.5rem;
}

.text-dark {
  color: #32325d !important;
}

.btn-ellipsis {
  background: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background: rgba(197, 236, 255, 0.13);
    color: #0c85d0;
  }
}